body {}

.goals {
    height: 85px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.tabmenu {
    list-style-type: none;
}

.list-tabs

h1.track-view-header {
    display: inline;
}

/*Search input --> add html*/

.pointer:hover {
    cursor: pointer;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: -30px;
}

.right-addon:hover {
    cursor: pointer;
}

.right-addon input {
    padding-right: 30px;
}


/*------------------------*/


/*---------welcome page----------*/


/*
Dark to light
#24221F #363F45 #4B5F6D #5E7C88 #FEB41C
*/

nav.navbar.navbar-default {
    background-color: #4B5F6D;
    margin-bottom: 0px;
    text-decoration-color: #24221F;
}

.navRight:hover {
    color: #FEB41C;
}

.navRight {
    color: aqua;
}

.navbar-default .navbar-nav>li>a,
a.navbar-brand.calCount,
.active {
    color: #24221F;
}

.navbar-default .navbar-nav>li>a:hover,
a.navbar-brand.calCount:hover,
.active:hover {
    background-color: #363F45;
    color: #FEB41C;
    font-weight: 700;
}

div.container.welcome-page.ng-scope {
    background-image: url("https://static.pexels.com/photos/4815/food-healthy-morning-cereals.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

div.jumbotron {
    margin-top: 150px;
    background-color: #4B5F6D;
    color: #24221F;
}

.yellow {
    color: #FEB41C;
}


/*  forms  */

form {
    margin-top: 35px;
    background-color: #4B5F6D;
    color: #24221F;
}

form.well {
    background-color: #5E7C88;
    color: #24221F;
}/*------------------------*/

/*styling for profile page*/
.titles {
    text-decoration: underline; 
}

.labels {
    color: #337AB7; 
}

/*------------------------*/

/*From validation*/

form[novalidate] input {
    border-left-width: 8px;
    border-color: #3498db;
    border-style: solid; 
}

input[required].ng-pristine {
    border-color: #e74c3c;
}

input.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}

input.ng-valid.ng-dirty {
    border-color: #2ecc71;
}

p.help-block {
    color: #FEB41C;
}
/*---------------*/