body {
    background-color: #5E7C88;
}

.tabmenu {
    list-style-type: none;
}

.list-tabs

h1.track-view-header {
    display: inline;
}

/*Search input --> add html*/

.pointer:hover {
    cursor: pointer;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: -30px;
}

.right-addon:hover {
    cursor: pointer;
}

.right-addon input {
    padding-right: 30px;
}


/*------------------------*/


/*---------welcome page----------*/


/*
https://color.adobe.com/Saffron-umbrella-color-theme-1641683/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Saffron%20umbrella&mode=rgb&rgbvalues=0.141176,0.133333,0.121569,0.211765,0.247059,0.270588,0.294118,0.372549,0.427451,0.368627,0.486275,0.533333,0.996078,0.705882,0.109804&swatchOrder=0,1,2,3,4
Dark to light
#24221F #363F45 #4B5F6D #5E7C88 #FEB41C
*/

nav.navbar.navbar-default {
    background-color: #4B5F6D;
    margin-bottom: 0px;
    text-decoration-color: #24221F;
    border: 1px solid #4B5F6D;
    border-radius: 0px;
}

form.well {
    border: 5px solid #24221F;
    border-radius: 10px;
}

.navRight:hover {
    color: #FEB41C;
}


.navbar-default .navbar-nav>li>a,
a.navbar-brand.calCount,
a.navbar-brand.calCount:visited,
li.active {
    color: #24221F;
}
.navbar-default .navbar-nav>li>a:visited,
a.navbar-brand.calCount:visited,
a.navbar-brand.calCount:visited,
li.active:visited {
    color: #24221F;
}

.navbar-default .navbar-nav>li>a:hover,
a.navbar-brand.calCount:hover,
li.active:hover,
.nav>li:hover,
a.navRight:hover{
    background-color: #363F45 !important;
    color: #FEB41C !important;
    font-weight: 700 !important;
}

div.container.welcome-page.ng-scope {
    background-image: url("https://static.pexels.com/photos/4815/food-healthy-morning-cereals.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

div.jumbotron {
    margin-top: 150px;
    background-color: #4B5F6D;
    color: #24221F;
}

.yellow {
    color: #FEB41C;
}

.yellow:hover {
    text-decoration: none;
    color: #FEB41C;
    font-weight: 700;
}


/*  forms  */

form {
    margin-top: 35px;
    background-color: #4B5F6D;
    color: #24221F;
}

form.well {
    background-color: #7895A1;
    color: #24221F;
}/*------------------------*/

/*styling for profile page*/
.titles {
    text-decoration: underline; 
}

.glyphicon {
    color: #363F45;
    font-size: x-large;
}
/*---------------Track page--------------*/
/*#24221F #363F45 #4B5F6D #5E7C88 #FEB41C*/
.goals {
    height: 115px;
    width: 100%;
    border: 5px solid #24221F;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}


/*
.nav-pills>li.active>a{
    background-color: #363F45;
    color: #FEB41C;
}
*/

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #4B5F6D;
    color: #363F45;
}

.nav-pills>li.active>a {
    background-color: #363F45;
    color: #FEB41C;
}

a {
    color: inherit;
}


 .nav-pills>li.active>a:hover{
     background-color: #4B5F6D;
     color: #24221F;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
     background-color: #4B5F6D;
     color: #FEB41C;
     border-radius: 0px;
}

button.trackButton {
    background-color: #363F45;
    color: #FEB41C;
    
}

button.trackButton:hover {
    color: #FEB41C;
    font-weight: 700;
}

div.row.well {
    background-color: #4B5F6D;
    color: #24221F; 
    border: 1px solid #4B5F6D;
}

select.selectors {
    background-color: #5E7C88;
    color: black;
}
select.selectors:active {
    background-color: #5E7C88;
    color: black;
}

/*-----------ADD PAGE-------------*/

.add {
    margin-top: 25px;
}


/*
.labels {
    color: #337AB7; 
}
*/


/*------------------------*/